body {
    font-family: 'Inter', sans-serif;
}

  .navbar-brand strong {
    color: #1e3a8a !important;
  }

.hero {
    background: url('../asset/home-bg.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.impact-section {
    background-color: #1e3a8a;
    color: white;
}

.footer {
    background-color: #1e3a8a;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.scholarship-card {
    border-top: 4px solid;
}

.academic {
    border-top-color: #16a34a;
}

.private {
    border-top-color: #2563eb;
}

.sports {
    border-top-color: #9333ea;
}

.icon-works{
    color: #2563eb;
}

.how-it-works h5{
    font-weight: bold;
    color: #1e3a8a;
}

.bold-title {
    font-weight: bolder;
}

.btn-custom-dark {
    background-color: #1e3a8a; /* Indigo */
    color: white;
    border: none;
}

.btn-custom-dark:hover {
    background-color: #3253ad;
}

.btn-custom {
background-color: #186BD8;
color: white;
border: none;
}
  
.btn-custom:hover {
background-color: #3253ad;
}

.btn-outline-custom{
    color: #1e3a8a;
    border: 1px solid #1e3a8a;
  }

.btn-outline-custom:hover {
    background-color: #1e3a8a; 
    color: white;
    border: none;
  }

.blue-color{
    color: #5386f5;
  }

.dark-blue-color{
color: #1e3a8a;
}

.icons-hit{
    background-color: #dbe5f3;
    border-radius: 50%;
    padding: 20px;

}