html {
  overflow-x: hidden;
}

body {
font-family: 'Inter', sans-serif;
background: url('../asset/login-bg.png') no-repeat center center;
background-size: cover;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
}
.card {
width: 100%;
max-width: 750px;
padding: 2rem;
border-radius: 1rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
background-color: #F3F5F7;
}
.logo-container {
text-align: center;
margin-bottom: 1.5rem;
}
.logo-container img {
height: 120px;
}
.form-control{
    background-color: #E6E6E6;
}

.form-control:focus {
box-shadow: none;
border-color: #cee2ff;
}
.btn-primary {
width: 100%;
border-radius: 10px;
}
.text-small {
font-size: 0.875rem;
}
.form-check-input:focus {
box-shadow: none;
}
.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}
.modal-title {
    font-weight: 700;
}

.form-select{
    background-color: #E6E6E6;
}

.form-check{
    padding-left: 50px;
    font-size: 16px;
}

@media (max-width: 575.98px) {
  .card {
    padding: 1.25rem;
  }

  .logo-container img {
    height: 84px;
  }

  .form-check {
    padding-left: 1.75rem;
    font-size: 14px;
  }
}

.form-check-input {
  background-color: #E6E6E6;
  border: 2px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
}